
# CHUTES AI
CHUTES_AI_API_KEY=

# ----------------
# ponto_do_lanche
# ----------------

# GRUPO WHATSAPP
PONTO_DO_LANCHE_COMMANDS_GROUP_ID=
PONTO_DO_LANCHE_NOTIFICATION_GROUP_ID=

# Para outro cliente (ex: "cliente-2")
CLIENTE_2_COMMAND_GROUP_ID=12036309876543210@g.us
CLIENTE_2_ADMIN_PHONES=5564991111111@s.whatsapp.net